1148. Artical views

    筛选唯一值：DISTINCT

In [ ]:
/* Write your T-SQL query statement below */
SELECT DISTINCT `author_id` AS id
FROM Views
WHERE `author_id` = `viewer_id`

1683. Invalid Tweets

    表示长度：LEN

In [ ]:
/* Write your T-SQL query statement below */
SELECT `tweet_id`
FROM Tweets 
WHERE LEN(`content`) > 15

1378. 

    LEFT JOIN XXX ON

In [ ]:
/* Write your T-SQL query statement below */
SELECT  EmployeeUNI.`unique_id`, Employees.`name`
FROM Employees
LEFT JOIN EmployeeUNI ON Employees.`id` = EmployeeUNI.`id`

🥵聚合函数

    count()...group by 
[link](https://leetcode.com/problems/customer-who-visited-but-did-not-make-any-transactions/description/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
SELECT Visits.`customer_id`
, COUNT(Visits.`customer_id`) AS `count_no_trans`
FROM Visits
LEFT JOIN Transactions ON Visits.`visit_id` = Transactions.`visit_id`
WHERE Transactions.visit_id IS NULL
GROUP BY Visits.`customer_id`;

🥵后一天比前一天高 ：自连接，日期添加

[link](https://leetcode.com/problems/rising-temperature/description/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
/* Write your T-SQL query statement below */
SELECT W2.`id`
FROM Weather AS W1 
JOIN Weather AS W2 ON W2.`recordDate` = DATEADD(DAY,1,W1.`recordDate`)
WHERE W2.`temperature`>W1.`temperature`

🥵🥵 计算开始与结束的差值,取平均，并保留三位小数 ——————着重学习 JOIN不止是键的匹配，而且带有where的用法，如无匹配键值，则类似广播机制

[link](https://leetcode.com/problems/average-time-of-process-per-machine/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
/* Write your T-SQL query statement below */
select a1.machine_id
, ROUND(ABS(AVG(a1.`timestamp`-a2.`timestamp`)),3) AS processing_time
FROM Activity AS a1
JOIN Activity AS a2 
ON a1.machine_id=a2.machine_id AND a1.process_id=a2.process_id
AND a1.activity_type='start' AND a2.activity_type='end'
GROUP BY a1.machine_id

🥵🥵 计算每个学生参加课程的数量：CROSS JOIN 联合JOIN

[link](https://leetcode.com/problems/students-and-examinations/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
/* Write your T-SQL query statement below */
SELECT Students.`student_id`
, Students.`student_name`
, Subjects.`subject_name`
, COUNT(Examinations.`subject_name`) AS attended_exams 

FROM Students
CROSS JOIN Subjects
LEFT JOIN Examinations ON Students.`student_id` = Examinations.`student_id` AND Subjects.`subject_name` = Examinations.`subject_name`

GROUP BY Students.`student_id`, Students.`student_name`, Subjects.`subject_name`, Examinations.`subject_name`

🥵🥵 使用JOIN筛选经理手下员工大于5个的 ————————注意HAVING 用法

[link](https://leetcode.com/problems/managers-with-at-least-5-direct-reports/description/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
/* Write your T-SQL query statement below */
SELECT E1.name

FROM Employee E1 JOIN  Employee E2 ON E1.`id` = E2.`managerId`

GROUP BY E1.name

HAVING COUNT(E2.managerId) >=5

🥵 检查产品是否合格 ————————使用IF判别式!!

[link](https://leetcode.com/problems/confirmation-rate/solutions/3563481/92-beats-easy-code-with-explanation-must-read/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
-- Write your MySQL query statement below
SELECT S.`user_id`, AVG(IF(C.`action` = 'confirmed',1,0)) AS `confirmation_rate` 

FROM Signups AS S
LEFT JOIN Confirmations AS C ON S.`user_id` = C.`user_id`

GROUP BY `user_id`

🥵 检查电影是否无聊 ————————使用%辨别奇偶

[link](https://leetcode.com/problems/not-boring-movies/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
# Write your MySQL query statement below
SELECT * 
FROM Cinema
WHERE id%2!=0 AND description != 'boring'
ORDER BY rating DESC

🥵🥵 平均售价 ————————使用BETWEEN AND 处理时间范围 GROUP BY 处理聚合 ROUND处理保留小数 IFNULL 处理空值默认情况

[link](https://leetcode.com/problems/average-selling-price/description/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
SELECT p.`product_id`, IFNULL(ROUND(SUM(p.`price`*u.`units` )/SUM(u.`units`),2),0) AS `average_price`

FROM Prices AS p
LEFT JOIN UnitsSold AS u ON p.`product_id` = u.`product_id` AND
(u.purchase_date BETWEEN start_date AND end_date)

GROUP BY p.`product_id`

🥵🥵 课程参与百分率 ————————使用子查询 与不带GROUP BY的 COUNT， 得知聚合函数也可不聚合，整体计算，聚合后算各个集合

[link](https://leetcode.com/problems/average-selling-price/description/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
# Write your MySQL query statement below

SELECT 
    r.contest_id,
    ROUND(COUNT(r.contest_id)/(
        SELECT COUNT(user_id) FROM Users
    )*100,2) AS `percentage`
FROM 
    Register AS r
GROUP BY 
    r.contest_id

ORDER BY percentage DESC, contest_id ASC

🥵 计算平均数和百分比，使用GROUP,和COUNT& if判别式的计数方法

[link](https://leetcode.com/problems/queries-quality-and-percentage/?envType=study-plan-v2&envId=top-sql-50)

COUNT 记录0，1，尽管是布尔值，但是不会记录NULL

In [ ]:
SELECT query_name
, ROUND(AVG(rating/`position`),2) AS quality
, ROUND(COUNT(if(rating<3,1,NULL))/COUNT(query_name)*100, 2) AS poor_query_percentage
FROM Queries
GROUP BY query_name

🥵 日期函数、计算平均数和百分比，使用GROUP,和COUNT& if判别式的计数方法

DATE_FORMAT(trans_date, '%Y-%m')

[link](https://leetcode.com/problems/monthly-transactions-i/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
# Write your MySQL query statement below
SELECT DATE_FORMAT(trans_date, '%Y-%m') AS month
, country
, COUNT(ID) AS trans_count
, COUNT(IF(state = 'approved',1,NULL) ) AS approved_count
, SUM(amount) AS trans_total_amount
, SUM(IF(state = 'approved',amount,0)) AS approved_total_amount

FROM Transactions
GROUP BY month, country

🥵🥵🥵 CASE用法的使用，用于判断同一行某些参数的情况进行特征工程, 使用WHERE (xx) in XXX的语法

[link](https://leetcode.com/problems/immediate-food-delivery-ii/description/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
SELECT ROUND(AVG(CASE 
    WHEN d1.order_date = d1.customer_pref_delivery_date THEN 1 
    ELSE 0 
END)*100,2) AS `immediate_percentage`


FROM Delivery AS d1
INNER JOIN (
    SELECT customer_id, MIN(order_date) AS `min`
    FROM Delivery
    GROUP BY customer_id
) AS d2
ON d1.customer_id = d2.customer_id AND d1.order_date = d2.`min`