1148. Artical views

    Á≠õÈÄâÂîØ‰∏ÄÂÄºÔºöDISTINCT

In [ ]:
/* Write your T-SQL query statement below */
SELECT DISTINCT `author_id` AS id
FROM Views
WHERE `author_id` = `viewer_id`

1683. Invalid Tweets

    Ë°®Á§∫ÈïøÂ∫¶ÔºöLENGTH

In [ ]:
/* Write your T-SQL query statement below */
SELECT tweet_id 
FROM Tweets
WHERE LENGTH(content) >15

1378. 

    LEFT JOIN XXX ON
[link](https://leetcode.com/problems/replace-employee-id-with-the-unique-identifier/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
/* Write your T-SQL query statement below */
SELECT  EmployeeUNI.`unique_id`, Employees.`name`
FROM Employees
LEFT JOIN EmployeeUNI ON Employees.`id` = EmployeeUNI.`id`

ËÅöÂêàÂáΩÊï∞

    count()...group by 
[link](https://leetcode.com/problems/customer-who-visited-but-did-not-make-any-transactions/description/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
SELECT Visits.`customer_id`
, COUNT(Visits.`customer_id`) AS `count_no_trans`
FROM Visits
LEFT JOIN Transactions ON Visits.`visit_id` = Transactions.`visit_id`
WHERE Transactions.visit_id IS NULL
GROUP BY Visits.`customer_id`;

Âêé‰∏ÄÂ§©ÊØîÂâç‰∏ÄÂ§©È´ò ÔºöËá™ËøûÊé•ÔºåÊó•ÊúüÊ∑ªÂä†

[link](https://leetcode.com/problems/rising-temperature/description/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
/* Write your T-SQL query statement below */
SELECT w2.id

FROM Weather AS w1
LEFT JOIN Weather AS w2 ON w2.recordDate = DATE_ADD(w1.recordDate, INTERVAL 1 DAY)

WHERE w1.temperature < w2.temperature

ÁùÄÈáçÂ≠¶‰π†FROMÁöÑÂ≠êË°®Ôºå‰ª•Âèä LEFT JOINÁöÑÂ≠êË°®ÂêàÂπ∂Â∫îÁî®

[link](https://leetcode.com/problems/average-time-of-process-per-machine/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
# Write your MySQL query statement below
SELECT a1.machine_id
, ROUND(AVG(a2.`timestamp` - a1.`timestamp`),3) AS processing_time

FROM (
    SELECT *
    FROM Activity
    WHERE activity_type = 'start'
) AS a1
LEFT JOIN (
    SELECT *
    FROM Activity
    WHERE activity_type = 'end'    
) AS a2 
ON a1.machine_id = a2.machine_id AND a1.process_id = a2.process_id

GROUP BY a1.machine_id

ËÆ°ÁÆóÊØè‰∏™Â≠¶ÁîüÂèÇÂä†ËØæÁ®ãÁöÑÊï∞ÈáèÔºöCROSS JOIN ËÅîÂêàJOINÔºå Ê≥®ÊÑè CROSS JOIN ÁöÑË°®‰∏é LEFT JOINË°®ÈîÆÂåπÈÖçÔºå Âπ∂ËØ∑Ê≥®ÊÑè JOINÁöÑÂÖàÂêéÈ°∫Â∫èÊúâÂæàÂ§ßÂΩ±Âìç 

[link](https://leetcode.com/problems/students-and-examinations/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
# Write your MySQL query statement below
SELECT 
Students.student_id, Students.student_name, Subjects.subject_name, COUNT(Examinations.subject_name) AS attended_exams

FROM Students 
CROSS JOIN Subjects
LEFT JOIN Examinations ON Students.student_id = Examinations.student_id AND Subjects.subject_name = Examinations.subject_name

GROUP BY Students.student_id, Students.student_name, Subjects.subject_name

ORDER BY Students.student_id, Subjects.subject_name

Ê£ÄÊü•‰∫ßÂìÅÊòØÂê¶ÂêàÊ†º ‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‰ΩøÁî®IFÂà§Âà´Âºè ÊàñËÄÖ CASE

[link](https://leetcode.com/problems/confirmation-rate/solutions/3563481/92-beats-easy-code-with-explanation-must-read/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
SELECT Signups.user_id
, ROUND(AVG(CASE 
    WHEN action = 'timeout' THEN 0
    WHEN action = 'confirmed' THEN 1
    ELSE 0
    END),2) AS confirmation_rate

FROM Signups
LEFT JOIN Confirmations ON Signups.user_id = Confirmations.user_id

GROUP BY user_id

Ê£ÄÊü•ÁîµÂΩ±ÊòØÂê¶Êó†ËÅä ‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‰ΩøÁî®%Ëæ®Âà´Â•áÂÅ∂

[link](https://leetcode.com/problems/not-boring-movies/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
# Write your MySQL query statement below
SELECT * 
FROM Cinema
WHERE id%2!=0 AND description != 'boring'
ORDER BY rating DESC

Âπ≥ÂùáÂîÆ‰ª∑ ‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‰ΩøÁî®BETWEEN AND Â§ÑÁêÜÊó∂Èó¥ËåÉÂõ¥ GROUP BY Â§ÑÁêÜËÅöÂêà ROUNDÂ§ÑÁêÜ‰øùÁïôÂ∞èÊï∞ IFNULL Â§ÑÁêÜÁ©∫ÂÄºÈªòËÆ§ÊÉÖÂÜµ

[link](https://leetcode.com/problems/average-selling-price/description/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
SELECT Prices.product_id, ROUND(SUM(units*price)/SUM(units), 2) AS average_price 

FROM Prices 
INNER JOIN UnitsSold 
ON Prices.product_id = UnitsSold.product_id AND purchase_date BETWEEN start_date AND end_date

GROUP BY product_id

 ËØæÁ®ãÂèÇ‰∏éÁôæÂàÜÁéá ‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚ÄîÂú®SELECT‰∏≠ÁöÑÂ≠êÊü•ËØ¢ ‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚ÄîÊ†áÈáèÂ≠êÊü•ËØ¢ÔºàÂΩìÂ≠êSELECTÁªìÊûú‰∏∫‰∏Ä‰∏™Êï∞Êó∂ÂÄôÔºåÂèØ‰ª•Áî®Âú®Áà∂SELECT‰∏≠Ôºâ

[link](https://leetcode.com/problems/percentage-of-users-attended-a-contest/description/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
# Write your MySQL query statement below

SELECT 
    r.contest_id,
    ROUND(COUNT(r.contest_id)/(
        SELECT COUNT(user_id) FROM Users
    )*100,2) AS `percentage`
FROM 
    Register AS r
GROUP BY 
    r.contest_id

ORDER BY percentage DESC, contest_id ASC

ËÆ°ÁÆóÂπ≥ÂùáÊï∞ÂíåÁôæÂàÜÊØîÔºå‰ΩøÁî®Á™óÂè£ÂáΩÊï∞

[link](https://leetcode.com/problems/queries-quality-and-percentage/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
# Write your MySQL query statement below
SELECT 
    DISTINCT query_name
    , ROUND(SUM(rating/`position`) OVER(PARTITION BY query_name)/COUNT(query_name) OVER(PARTITION BY query_name),2) as quality
    , ROUND(SUM(IF(rating<3,1,0)) OVER(PARTITION BY query_name)/COUNT(query_name) OVER(PARTITION BY query_name)*100,2) AS poor_query_percentage

FROM Queries
WHERE query_name IS NOT NULL

ü•µ Êó•ÊúüÂáΩÊï∞„ÄÅËÆ°ÁÆóÂπ≥ÂùáÊï∞ÂíåÁôæÂàÜÊØîÔºå‰ΩøÁî®GROUP,ÂíåCOUNT& ifÂà§Âà´ÂºèÁöÑËÆ°Êï∞ÊñπÊ≥ï

DATE_FORMAT(trans_date, '%Y-%m')

[link](https://leetcode.com/problems/monthly-transactions-i/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
SELECT 
    DATE_FORMAT(trans_date, '%Y-%m') AS month
    , country
    , COUNT(id) AS trans_count
    , SUM(IF(state = 'approved',1,0)) AS approved_count
    , SUM(amount) AS trans_total_amount
    , SUM(IF(state = 'approved',amount,0 )) AS approved_total_amount
    
FROM Transactions
GROUP BY month, country

ü•µ CASEÁî®Ê≥ïÁöÑ‰ΩøÁî®ÔºåÁî®‰∫éÂà§Êñ≠Âêå‰∏ÄË°åÊüê‰∫õÂèÇÊï∞ÁöÑÊÉÖÂÜµËøõË°åÁâπÂæÅÂ∑•Á®ã, ‰ΩøÁî®WHERE (xx) in XXXÁöÑËØ≠Ê≥ï

[link](https://leetcode.com/problems/immediate-food-delivery-ii/description/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
SELECT ROUND(AVG(CASE 
    WHEN d1.order_date = d1.customer_pref_delivery_date THEN 1 
    ELSE 0 
END)*100,2) AS `immediate_percentage`


FROM Delivery AS d1
INNER JOIN (
    SELECT customer_id, MIN(order_date) AS `min`
    FROM Delivery
    GROUP BY customer_id
) AS d2
ON d1.customer_id = d2.customer_id AND d1.order_date = d2.`min`

----------------------------------------------------------2024/6/22-------------------------------------------------

ü•µü•µü•µ ‰ΩøÁî®WHERE ÔºàXX,XXÔºâin Á≠õÈÄâÂçïÁã¨Ë°åÔºå‰πãÂêéCCOUNT DISTINCTÂèñÂÄºÔºå‰πãÂêéÈô§‰ª•Â≠êÂàóË°®ÁöÑCOUNT DISTINCTÁÆóÂá∫ÁªìËÆ∫ 

[link](https://leetcode.com/problems/game-play-analysis-iv/description/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
SELECT ROUND(COUNT(*)/ (SELECT COUNT(DISTINCT player_id) FROM Activity),2) AS fraction
FROM Activity
WHERE (player_id, DATE_SUB(event_date, INTERVAL 1 DAY)) 
IN (
        SELECT player_id, MIN(event_date) AS min_event_date
        FROM Activity
        GROUP BY player_id
)

 Ê≥®ÊÑèÊó•Êúü‰∏∫ÂçïÂºïÂè∑

[link](https://leetcode.com/problems/user-activity-for-the-past-30-days-i/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
# Write your MySQL query statement below
SELECT activity_date AS `day`, COUNT(DISTINCT session_id) AS active_users
FROM Activity
WHERE activity_date BETWEEN DATE_SUB('2019-07-27', INTERVAL 30 DAY) AND '2019-07-27'

GROUP BY activity_date

Ê≥®ÊÑè‰∏çÂÆåÂÖ®GROUPÁ¶ÅÊ≠¢‰ΩøÁî®ÔºåËØ∑Âú®Â≠êÂàóË°®‰∏≠‰ΩøÁî®ÂêéÁî®WHEREËøõË°åÁ≠õÈÄâ

[link](https://leetcode.com/problems/product-sales-analysis-iii/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
# Write your MySQL query statement below
SELECT product_id,  `year` AS first_year, quantity, price

FROM Sales

WHERE  (product_id, `year`) IN (
    SELECT product_id, MIN(`year`)
    FROM Sales
    GROUP BY `product_id`)

-----------------------------------2024/6/23--------------------

 Á≠õÈÄâ‰∏çÈáçÂ§çÁöÑÊúÄÂ§ßÂÄº

[link](https://leetcode.com/problems/biggest-single-number/submissions/1297665028/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
# Write your MySQL query statement below
SELECT MAX(num) AS num
FROM MyNumbers
WHERE num IN (SELECT CASE 
        WHEN COUNT(num)> 1 THEN NULL 
        ELSE num
        END AS single_number
    FROM MyNumbers
    GROUP BY num
    HAVING single_number IS NOT NULL)

 Á≠õÈÄâÂÖ®ÈÉ®Ë¥≠‰π∞ÂïÜÂìÅÁöÑÈ°æÂÆ¢Ôºå‰ΩøÁî®Â≠êÊü•ËØ¢

[link](https://leetcode.com/problems/customers-who-bought-all-products/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
SELECT customer_id 
FROM Customer
GROUP BY  customer_id
HAVING COUNT(DISTINCT product_key) = (SELECT COUNT(DISTINCT product_key) FROM Product)

Â≠¶‰ºöÂà©Áî®WHERE XX IN ()Â≠êÊü•ËØ¢Êù•Ê£ÄÁ¥¢

[link](https://leetcode.com/problems/primary-department-for-each-employee/description/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
SELECT employee_id, department_id
FROM Employee
WHERE 
    primary_flag = 'Y' OR
    employee_id IN (
        SELECT employee_id
        FROM Employee
        GROUP BY employee_id
        HAVING COUNT(employee_id) = 1
    )

Á¨¨‰∫åÁßçË°®ËææÊõ¥‰∏∫Áõ¥ËßÇ

In [ ]:
SELECT employee_id, department_id
FROM Employee
WHERE primary_flag = 'Y'

UNION 

SELECT employee_id, department_id
FROM Employee
WHERE(employee_id, department_id, primary_flag) IN (SELECT * FROM Employee GROUP BY employee_id HAVING COUNT(employee_id) = 1)

ü•µ Â≠¶‰ºöÂà©Áî®lead() over() Á™óÂè£ÂáΩÊï∞Âä®ÊÄÅË°®Á§∫‰ªñ‰πãÂêéÁöÑÁ¨¨Âá†‰∏™

[link](https://leetcode.com/problems/primary-department-for-each-employee/description/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
CREATE TABLE Sales (
    employee_id INT,
    sales_date DATE,
    sales_amount DECIMAL(10,2)
);

INSERT INTO Sales (employee_id, sales_date, sales_amount) VALUES
(1, '2023-01-01', 150.00),
(1, '2023-01-02', 200.00),
(1, '2023-01-03', 250.00),
(2, '2023-01-01', 220.00),
(2, '2023-01-02', 180.00),
(2, '2023-01-03', 240.00),
(3, '2023-01-01', 190.00),
(3, '2023-01-02', 210.00),
(3, '2023-01-03', 230.00);

 windows ÁöÑÁªÑÊàê
[window_function] OVER (
    [PARTITION BY partition_expression]
    [ORDER BY sort_expression]
    [ROWS|RANGE BETWEEN {start_value} AND {end_value}]
)

In [ ]:
SELECT
    *,
    MAX(sales_amount) OVER (PARTITION BY employee_id ORDER BY sales_date) AS cumulative_max
FROM
    Sales;

In [ ]:
select distinct Num as ConsecutiveNums
from Logs
where (Id + 1, Num) in (select * from Logs) and (Id + 2, Num) in (select * from Logs)

Á¨¨‰∫åÁßçÊõ¥Á¨¶ÂêàÂ∏∏ËØÜ

In [ ]:
# Write your MySQL query statement below
with cte as (
    select num,
    lead(num,1) over() num1,
    lead(num,2) over() num2
    from logs
)

select distinct num AS ConsecutiveNums from cte where (num=num1) and (num=num2)

ü•µ Â≠¶‰ºöÂà©Áî®UNIONÂêàÂπ∂Êü•ËØ¢Ôºå ‰ª•Âèänot in Êü•ËØ¢

[link](https://leetcode.com/problems/product-price-at-a-given-date/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
# Write your MySQL query statement below
select distinct product_id, 10 as price 
from Products 
where product_id not in(
    select product_id 
    from Products 
    where change_date <='2019-08-16' 
    )


union 

SELECT product_id, new_price as price 
from products 

where (product_id, change_date) IN (
    select product_id, max(change_date)
    from products 
    where change_date <='2019-08-16'
    group by product_id 
    )

ü•µ Â≠¶‰ºöÂà©Áî®Á™óÂè£ÂáΩÊï∞Á¥ØËÆ°ËÆ°ÁÆó

[link](https://leetcode.com/problems/last-person-to-fit-in-the-bus/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
WITH C_Queue AS 
    (SELECT *, SUM(weight) OVER(ORDER BY turn ) AS cw
    FROM Queue)

SELECT person_name
FROM C_Queue
WHERE cw<=1000
ORDER BY cw DESC
LIMIT 1

ü•µ ÂØπ‰∫éÊúâÂàóË°®‰∏≠Ê≤°ÊúâÁöÑÂÄºÊó∂ÂÄô‰ΩøÁî®UNION ÂèØÂ∞ÜÊ≤°ÊúâÁöÑËΩ¨Êç¢Êàê0

[link](https://leetcode.com/problems/count-salary-categories/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
SELECT  "Low Salary" AS category, COUNT("Low Salary") AS accounts_count
FROM Accounts
WHERE income < 20000

UNION

SELECT  "Average Salary" AS category, COUNT("Average Salary") AS accounts_count
FROM Accountsd
WHERE income >= 20000 AND income <= 50000

UNION

SELECT  "High Salary" AS category, COUNT("High Salary") AS accounts_count
FROM Accounts
WHERE income > 50000

----------------------2024/6/24---------------------------

ü•µ Áõ∏ÈÇª‰∏§Ë°åÊç¢‰Ωç

[link](https://leetcode.com/problems/exchange-seats/?envType=study-plan-v2&envId=top-sql-50)

Á¨¨‰∏ÄÁßç‰º†ÁªüÊñπÊ≥ïÔºö

In [ ]:
SELECT IF(id = (SELECT COUNT(id) FROM Seat) AND id%2!=0,id,IF(id%2!=0, id+1, id-1)) AS id, student
FROM Seat
ORDER BY id

Á¨¨‰∫åÁßç‰ΩøÁî®Á™óÂè£Ôºö

In [ ]:
SELECT ROW_NUMBER() OVER() id, student
FROM seat
ORDER BY IF(MOD(id, 2) = 0, id-1, id+1)

‰ΩøÁî®UNION ALL Èò≤Ê≠¢ÂéªÈáç

[link](https://leetcode.com/problems/movie-rating/submissions/1298480770/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
# Write your MySQL query statement below
WITH 
    rating_counts AS 
    (SELECT user_id, COUNT(user_id) AS cnt
    FROM MovieRating
    GROUP BY user_id)

    , movie_ratings AS 
    (SELECT movie_id, AVG(rating) AS Rating
    FROM MovieRating
    WHERE DATE_FORMAT(created_at, '%M %Y') = 'February 2020'
    GROUP BY movie_id)

SELECT results FROM(
    SELECT  name AS results
    FROM rating_counts 
    JOIN Users ON rating_counts.user_id = Users.user_id
    ORDER BY cnt DESC, name ASC
    LIMIT 1) AS top_user

UNION ALL -- ËøôÈáå‰ΩøÁî®UNION ALL Èò≤Ê≠¢ÂéªÈáç

SELECT results FROM(
    SELECT title AS results
    FROM movie_ratings JOIN Movies ON movie_ratings.movie_id = Movies.movie_id
    ORDER BY Rating DESC , Movies.title ASC
    LIMIT 1) AS top_movie

ü•µ ‰ΩøÁî®Á™óÂè£ÂáΩÊï∞ÔºåÊªëË°åÁ≠âË∑ùÊó∂Èó¥Ôºå‰ΩøÁî®OVERÔºàRANGEÔºâÊòØÊåâÁÖßÂÄºÁöÑÂå∫Èó¥ÔºåOVERÔºàROWÔºâÊòØÊåâÁÖßÁ¥¢ÂºïÂàóÁöÑÂå∫Èó¥, Ê≥®ÊÑèSUM() OVER()/7ÔºåË¶ÅÂú®Êú´Â∞æÈô§ÔºåËøô‰∏™Êï¥‰Ωì‰∏∫‰∏Ä‰∏™Á™óÂè£

[link](https://leetcode.com/problems/restaurant-growth/?envType=study-plan-v2&envId=top-sql-50)

1. `XXX` **PRECEDING** AND CURRENT ROW
2. CURRENT ROW AND `XXX` FOLLOWING
3. `XXX` **PRECEDING** AND `XXX` FOLLOWING
4. UNBOUNDED **PRECEDING** AND CURRENT ROW
5. CURRENT ROW AND UNBOUNDED FOLLOWING
6. UNBOUNDED **PRECEDING** AND UNBOUNDED FOLLOWING

In [ ]:
WITH agg_table AS
    (SELECT 
        DISTINCT visited_on
        , SUM(amount) OVER(ORDER BY visited_on RANGE BETWEEN INTERVAL 6 DAY PRECEDING AND CURRENT ROW ) AS amount
        , SUM(amount) OVER(ORDER BY visited_on RANGE BETWEEN INTERVAL 6 DAY PRECEDING AND CURRENT ROW )/7 AS average_amount
        , MIN(visited_on) OVER() AS min_visited
    FROM Customer)

SELECT visited_on, amount, ROUND(average_amount,2) AS average_amount
FROM agg_table
WHERE visited_on >= min_visited+6

ü•µ ÁÜüÁªÉ‰ΩøÁî®Á™óÂè£ÂáΩÊï∞ÔºåÊªëË°åÁ≠âË∑ùÊó∂Èó¥Ôºå‰ΩøÁî®OVERÔºàRANGEÔºâÊòØÊåâÁÖßÂÄºÁöÑÂå∫Èó¥ÔºåOVERÔºàROWÔºâÊòØÊåâÁÖßÁ¥¢ÂºïÂàóÁöÑÂå∫Èó¥, Ê≥®ÊÑèSUM() OVER()/7ÔºåË¶ÅÂú®Êú´Â∞æÈô§ÔºåËøô‰∏™Êï¥‰Ωì‰∏∫‰∏Ä‰∏™Á™óÂè£

[link](https://leetcode.com/problems/friend-requests-ii-who-has-the-most-friends/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
WITH 
    re_CTE as (SELECT requester_id, COUNT(requester_id) AS cnt FROM RequestAccepted GROUP BY requester_id)
    , ac_CTE as (SELECT accepter_id, COUNT(accepter_id) AS cnt FROM RequestAccepted GROUP BY accepter_id)
    , CTE AS (SELECT * FROM re_CTE UNION ALL SELECT * FROM ac_CTE)

SELECT requester_id AS id, SUM(cnt) AS num
FROM CTE 
GROUP BY requester_id
ORDER BY num DESC 
LIMIT 1

ü•µü•µ ÁÜüÁªÉ‰ΩøÁî®Á™óÂè£ÂáΩÊï∞Ôºå‰ΩøÂæóÂà§Êñ≠ËÆ°Êï∞_1>1, ËÆ°Êï∞_2=1

[link](https://leetcode.com/problems/friend-requests-ii-who-has-the-most-friends/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
WITH Total_table AS
    (SELECT *
    , COUNT(tiv_2015) OVER(PARTITION BY tiv_2015) AS cnt1
    , COUNT(tiv_2015) OVER(PARTITION BY lat, lon) AS cnt2
    FROM Insurance)

SELECT ROUND(SUM(tiv_2016),2) AS tiv_2016 FROM Total_table 
WHERE cnt1>1 AND cnt2=1

ü•µ ÁÜüÁªÉ‰ΩøÁî®Á™óÂè£ÂáΩÊï∞ÔºåËøõË°åÊéíÂ∫è RANK ‰ª•Âèä DENSE_RANK OVERÔºàÔºâ,DENSE‰ºö‰ΩøÂæóÂêå‰∏∫
ÂêçÁªßÁª≠‰ªéÁ¨¨3ÂêçËÆ∞ÂΩï
[link](https://leetcode.com/problems/department-top-three-salaries/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
WITH CTE AS 
    (SELECT *, DENSE_RANK() OVER(PARTITION BY departmentId ORDER BY salary DESC) AS `rank`
    FROM Employee )

SELECT Department.name AS Department, CTE.name AS Employee, salary AS Salary
FROM CTE 
JOIN Department ON CTE.departmentId = Department.id 
WHERE `rank` <= 3

---------------------------2024/6/25------------------

ü•µ ÁÜüÁªÉ‰ΩøÁî®concate,Êõ¥Êñ∞ÂàóÊï∞ÊçÆ

[link](https://leetcode.com/problems/fix-names-in-a-table/solutions/1963494/detailed-explanation-of-query-and-functions-that-are-required-to-solve-this/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
# Write your MySQL query statement below
SELECT user_id, CONCAT(UPPER(LEFT(name,1)),LOWER(RIGHT(name,length(name)-1))) AS name
FROM Users

ü•µ ÁÜüÁªÉ‰ΩøÁî®LIKE 

[link](https://leetcode.com/problems/patients-with-a-condition/description/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
# Write your MySQL query statement below
SELECT *
FROM Patients
WHERE conditions LIKE '% DIAB1%' OR conditions LIKE 'DIAB1%' --Ê≥®ÊÑèÁ¨¨‰∏Ä‰∏™LIKE Â≠óÁ¨¶‰∏≤‰∏≠Èó¥Êúâ‰∏Ä‰∏™Á©∫Ê†º

ü•µ Âà†Èô§ÈáçÂ§çÂÄº, Ê≥®ÊÑè‰∏çËÉΩÁõ¥Êé•Âú®Â≠êË°®‰∏≠ËæπÊü•ËØ¢ËæπDELETEÔºåÂ∫îÂΩìÂÜçÂµåÂ•ó‰∏ÄÂ±ÇËøõË°åÈöîÁ¶ª

[link](https://leetcode.com/problems/delete-duplicate-emails/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
DELETE FROM Person
WHERE(id, email) NOT IN (
    -- ËøõË°åÂà†Èô§ÂíåË°®Ê†ºÁ≠õÈÄâÁöÑÈöîÁ¶ª
    SELECT * FROM(
        SELECT MIN(id), email
        FROM Person 
        GROUP BY email 
    ) AS tmp1 -- Â≠êË°®ÂøÖÈ°ªÊúâÂêçÁß∞
) -- ËøôÈáåÁî±‰∫éÂπ∂‰∏çÊòØ‰∏™Ë°® ÊâÄ‰ª•Ê≤°ÊúâAS xxx

ü•µ Á≠õÈÄâRANK‰∏∫2ÁöÑ‰∫∫Ôºå‰ΩÜÊ≥®ÊÑèÂá∫Áé∞WHEREÊ≤°ÊúâÁ≠õÈÄâÂà∞Êó∂ÂÄôÁî®ËÅöÂêàÂáΩÊï∞Êù•ËøîÂõûNULL

[link](https://leetcode.com/problems/second-highest-salary/description/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
WITH SalaryRanks AS (
    SELECT 
        salary,
        DENSE_RANK() OVER (ORDER BY salary DESC) AS `rank`
    FROM Employee
)
SELECT 
    MAX(salary) AS SecondHighestSalary --‰ΩøÁî®ËÅöÂêàÂáΩÊï∞Ôºå‰ΩøÂæóÂΩìÁ≠õÈÄâÊó†ÁªìÊûúÊó∂ÂÄôËøîÂõûNULLÔºåËÄå‰∏çÊòØ‰∏çËøîÂõû
FROM SalaryRanks
WHERE `rank` = 2;