1148. Artical views

    Á≠õÈÄâÂîØ‰∏ÄÂÄºÔºöDISTINCT

In [ ]:
/* Write your T-SQL query statement below */
SELECT DISTINCT `author_id` AS id
FROM Views
WHERE `author_id` = `viewer_id`

1683. Invalid Tweets

    Ë°®Á§∫ÈïøÂ∫¶ÔºöLEN

In [ ]:
/* Write your T-SQL query statement below */
SELECT tweet_id 
FROM Tweets
WHERE LENGTH(content) >15

1378. 

    LEFT JOIN XXX ON
[link](https://leetcode.com/problems/replace-employee-id-with-the-unique-identifier/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
/* Write your T-SQL query statement below */
SELECT  EmployeeUNI.`unique_id`, Employees.`name`
FROM Employees
LEFT JOIN EmployeeUNI ON Employees.`id` = EmployeeUNI.`id`

ËÅöÂêàÂáΩÊï∞

    count()...group by 
[link](https://leetcode.com/problems/customer-who-visited-but-did-not-make-any-transactions/description/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
SELECT Visits.`customer_id`
, COUNT(Visits.`customer_id`) AS `count_no_trans`
FROM Visits
LEFT JOIN Transactions ON Visits.`visit_id` = Transactions.`visit_id`
WHERE Transactions.visit_id IS NULL
GROUP BY Visits.`customer_id`;

Âêé‰∏ÄÂ§©ÊØîÂâç‰∏ÄÂ§©È´ò ÔºöËá™ËøûÊé•ÔºåÊó•ÊúüÊ∑ªÂä†

[link](https://leetcode.com/problems/rising-temperature/description/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
/* Write your T-SQL query statement below */
SELECT w2.id

FROM Weather AS w1
LEFT JOIN Weather AS w2 ON w2.recordDate = DATE_ADD(w1.recordDate, INTERVAL 1 DAY)

WHERE w1.temperature < w2.temperature

ÁùÄÈáçÂ≠¶‰π†FROMÁöÑÂ≠êË°®Ôºå‰ª•Âèä LEFT JOINÁöÑÂ≠êË°®ÂêàÂπ∂Â∫îÁî®

[link](https://leetcode.com/problems/average-time-of-process-per-machine/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
# Write your MySQL query statement below
SELECT a1.machine_id
, ROUND(AVG(a2.`timestamp` - a1.`timestamp`),3) AS processing_time

FROM (
    SELECT *
    FROM Activity
    WHERE activity_type = 'start'
) AS a1
LEFT JOIN (
    SELECT *
    FROM Activity
    WHERE activity_type = 'end'    
) AS a2 
ON a1.machine_id = a2.machine_id AND a1.process_id = a2.process_id

GROUP BY a1.machine_id

ËÆ°ÁÆóÊØè‰∏™Â≠¶ÁîüÂèÇÂä†ËØæÁ®ãÁöÑÊï∞ÈáèÔºöCROSS JOIN ËÅîÂêàJOINÔºå Ê≥®ÊÑè CROSS JOIN ÁöÑË°®‰∏é LEFT JOINË°®ÈîÆÂåπÈÖçÔºå Âπ∂ËØ∑Ê≥®ÊÑè JOINÁöÑÂÖàÂêéÈ°∫Â∫èÊúâÂæàÂ§ßÂΩ±Âìç 

[link](https://leetcode.com/problems/students-and-examinations/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
# Write your MySQL query statement below
SELECT 
Students.student_id, Students.student_name, Subjects.subject_name, COUNT(Examinations.subject_name) AS attended_exams

FROM Students 
CROSS JOIN Subjects
LEFT JOIN Examinations ON Students.student_id = Examinations.student_id AND Subjects.subject_name = Examinations.subject_name

GROUP BY Students.student_id, Students.student_name, Subjects.subject_name

ORDER BY Students.student_id, Subjects.subject_name

Ê£ÄÊü•‰∫ßÂìÅÊòØÂê¶ÂêàÊ†º ‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‰ΩøÁî®IFÂà§Âà´Âºè ÊàñËÄÖ CASE

[link](https://leetcode.com/problems/confirmation-rate/solutions/3563481/92-beats-easy-code-with-explanation-must-read/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
SELECT Signups.user_id
, ROUND(AVG(CASE 
    WHEN action = 'timeout' THEN 0
    WHEN action = 'confirmed' THEN 1
    ELSE 0
    END),2) AS confirmation_rate

FROM Signups
LEFT JOIN Confirmations ON Signups.user_id = Confirmations.user_id

GROUP BY user_id

Ê£ÄÊü•ÁîµÂΩ±ÊòØÂê¶Êó†ËÅä ‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‰ΩøÁî®%Ëæ®Âà´Â•áÂÅ∂

[link](https://leetcode.com/problems/not-boring-movies/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
# Write your MySQL query statement below
SELECT * 
FROM Cinema
WHERE id%2!=0 AND description != 'boring'
ORDER BY rating DESC

Âπ≥ÂùáÂîÆ‰ª∑ ‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‰ΩøÁî®BETWEEN AND Â§ÑÁêÜÊó∂Èó¥ËåÉÂõ¥ GROUP BY Â§ÑÁêÜËÅöÂêà ROUNDÂ§ÑÁêÜ‰øùÁïôÂ∞èÊï∞ IFNULL Â§ÑÁêÜÁ©∫ÂÄºÈªòËÆ§ÊÉÖÂÜµ

[link](https://leetcode.com/problems/average-selling-price/description/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
SELECT Prices.product_id, ROUND(SUM(units*price)/SUM(units), 2) AS average_price 

FROM Prices 
INNER JOIN UnitsSold 
ON Prices.product_id = UnitsSold.product_id AND purchase_date BETWEEN start_date AND end_date

GROUP BY product_id

ü•µü•µü•µü•µ ËØæÁ®ãÂèÇ‰∏éÁôæÂàÜÁéá ‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚ÄîÂú®SELECT‰∏≠ÁöÑÂ≠êÊü•ËØ¢ ‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚ÄîÊ†áÈáèÂ≠êÊü•ËØ¢ÔºàÂΩìÂ≠êSELECTÁªìÊûú‰∏∫‰∏Ä‰∏™Êï∞Êó∂ÂÄôÔºåÂèØ‰ª•Áî®Âú®Áà∂SELECT‰∏≠Ôºâ

[link](https://leetcode.com/problems/percentage-of-users-attended-a-contest/description/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
# Write your MySQL query statement below

SELECT 
    r.contest_id,
    ROUND(COUNT(r.contest_id)/(
        SELECT COUNT(user_id) FROM Users
    )*100,2) AS `percentage`
FROM 
    Register AS r
GROUP BY 
    r.contest_id

ORDER BY percentage DESC, contest_id ASC

ü•µ ËÆ°ÁÆóÂπ≥ÂùáÊï∞ÂíåÁôæÂàÜÊØîÔºå‰ΩøÁî®GROUP,ÂíåCASE

[link](https://leetcode.com/problems/queries-quality-and-percentage/?envType=study-plan-v2&envId=top-sql-50)

COUNT ËÆ∞ÂΩï0Ôºå1ÔºåÂ∞ΩÁÆ°ÊòØÂ∏ÉÂ∞îÂÄºÔºå‰ΩÜÊòØ‰∏ç‰ºöËÆ∞ÂΩïNULL

In [ ]:
SELECT query_name
, ROUND(SUM(rating/`position`)/COUNT(query_name),2) AS quality
, ROUND(SUM(CASE 
    WHEN rating <3 THEN 1
    ELSE 0
    END)/COUNT(query_name)*100,2)AS poor_query_percentage

FROM Queries

GROUP BY query_name

ü•µ Êó•ÊúüÂáΩÊï∞„ÄÅËÆ°ÁÆóÂπ≥ÂùáÊï∞ÂíåÁôæÂàÜÊØîÔºå‰ΩøÁî®GROUP,ÂíåCOUNT& ifÂà§Âà´ÂºèÁöÑËÆ°Êï∞ÊñπÊ≥ï

DATE_FORMAT(trans_date, '%Y-%m')

[link](https://leetcode.com/problems/monthly-transactions-i/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
# Write your MySQL query statement below
SELECT DATE_FORMAT(trans_date, '%Y-%m') AS month
, country
, COUNT(ID) AS trans_count
, COUNT(IF(state = 'approved',1,NULL) ) AS approved_count
, SUM(amount) AS trans_total_amount
, SUM(IF(state = 'approved',amount,0)) AS approved_total_amount

FROM Transactions
GROUP BY month, country

ü•µ CASEÁî®Ê≥ïÁöÑ‰ΩøÁî®ÔºåÁî®‰∫éÂà§Êñ≠Âêå‰∏ÄË°åÊüê‰∫õÂèÇÊï∞ÁöÑÊÉÖÂÜµËøõË°åÁâπÂæÅÂ∑•Á®ã, ‰ΩøÁî®WHERE (xx) in XXXÁöÑËØ≠Ê≥ï

[link](https://leetcode.com/problems/immediate-food-delivery-ii/description/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
SELECT ROUND(AVG(CASE 
    WHEN d1.order_date = d1.customer_pref_delivery_date THEN 1 
    ELSE 0 
END)*100,2) AS `immediate_percentage`


FROM Delivery AS d1
INNER JOIN (
    SELECT customer_id, MIN(order_date) AS `min`
    FROM Delivery
    GROUP BY customer_id
) AS d2
ON d1.customer_id = d2.customer_id AND d1.order_date = d2.`min`

----------------------------------------------------------2024/6/22-------------------------------------------------

ü•µü•µ ‰ΩøÁî®WHERE ÔºàXX,XXÔºâin Á≠õÈÄâÂçïÁã¨Ë°åÔºå‰πãÂêéCCOUNT DISTINCTÂèñÂÄºÔºå‰πãÂêéÈô§‰ª•Â≠êÂàóË°®ÁöÑCOUNT DISTINCTÁÆóÂá∫ÁªìËÆ∫ 

[link](https://leetcode.com/problems/game-play-analysis-iv/description/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
# Write your MySQL query statement below
SELECT
  ROUND(COUNT(DISTINCT player_id) / (SELECT COUNT(DISTINCT player_id) FROM Activity), 2) AS fraction
FROM
  Activity
WHERE
  (player_id, DATE_SUB(event_date, INTERVAL 1 DAY))
  IN (
    SELECT player_id, MIN(event_date) AS first_login FROM Activity GROUP BY player_id
  )

ü•µ Ê≥®ÊÑèÊó•Êúü‰∏∫ÂçïÂºïÂè∑

[link](https://leetcode.com/problems/user-activity-for-the-past-30-days-i/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
# Write your MySQL query statement below
SELECT activity_date AS `day`, COUNT(DISTINCT session_id) AS active_users
FROM Activity
WHERE activity_date BETWEEN DATE_SUB('2019-07-27', INTERVAL 30 DAY) AND '2019-07-27'

GROUP BY activity_date

ü•µ Ê≥®ÊÑè‰∏çÂÆåÂÖ®GROUPÁ¶ÅÊ≠¢‰ΩøÁî®ÔºåËØ∑Âú®Â≠êÂàóË°®‰∏≠‰ΩøÁî®ÂêéÁî®WHEREËøõË°åÁ≠õÈÄâ

[link](https://leetcode.com/problems/product-sales-analysis-iii/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
# Write your MySQL query statement below
SELECT product_id,  `year` AS first_year, quantity, price

FROM Sales

WHERE  (product_id, `year`) IN (
    SELECT product_id, MIN(`year`)
    FROM Sales
    GROUP BY `product_id`)

-----------------------------------2024/6/23--------------------

ü•µ Á≠õÈÄâ‰∏çÈáçÂ§çÁöÑÊúÄÂ§ßÂÄº

[link](https://leetcode.com/problems/biggest-single-number/submissions/1297665028/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
# Write your MySQL query statement below
SELECT MAX(num) AS num
FROM MyNumbers
WHERE num IN (SELECT CASE 
        WHEN COUNT(num)> 1 THEN NULL 
        ELSE num
        END AS single_number
    FROM MyNumbers
    GROUP BY num
    HAVING single_number IS NOT NULL)

ü•µ Á≠õÈÄâÂÖ®ÈÉ®Ë¥≠‰π∞ÂïÜÂìÅÁöÑÈ°æÂÆ¢Ôºå‰ΩøÁî®Â≠êÊü•ËØ¢

[link](https://leetcode.com/problems/biggest-single-number/submissions/1297665028/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
SELECT customer_id 
FROM Customer
GROUP BY  customer_id
HAVING COUNT(DISTINCT product_key) = (SELECT COUNT(DISTINCT product_key) FROM Product)

ü•µü•µ Â≠¶‰ºöÂà©Áî®WHERE XX IN ()Â≠êÊü•ËØ¢Êù•Ê£ÄÁ¥¢

[link](https://leetcode.com/problems/primary-department-for-each-employee/description/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
SELECT employee_id, department_id
FROM Employee
WHERE 
    primary_flag = 'Y' OR
    employee_id IN (
        SELECT employee_id
        FROM Employee
        GROUP BY employee_id
        HAVING COUNT(employee_id) = 1
    )

ü•µü•µü•µ Â≠¶‰ºöÂà©Áî®WITH XXX AS ()ÊûÑÂª∫Â≠êË°®Ôºå Âπ∂‰∏î‰ΩøÁî® leadÔºàxxxÔºånÔºâover() Á™óÂè£ÂáΩÊï∞Âä®ÊÄÅË°®Á§∫‰ªñ‰πãÂêéÁöÑÁ¨¨Âá†‰∏™

[link](https://leetcode.com/problems/primary-department-for-each-employee/description/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
-- CREATE TABLE Sales (
--     employee_id INT,
--     sales_date DATE,
--     sales_amount DECIMAL(10,2)
-- );

INSERT INTO Sales (employee_id, sales_date, sales_amount) VALUES
(1, '2023-01-01', 150.00),
(1, '2023-01-02', 200.00),
(1, '2023-01-03', 250.00),
(2, '2023-01-01', 220.00),
(2, '2023-01-02', 180.00),
(2, '2023-01-03', 240.00),
(3, '2023-01-01', 190.00),
(3, '2023-01-02', 210.00),
(3, '2023-01-03', 230.00);

In [ ]:
SELECT
    employee_id,
    sales_date,
    sales_amount,
    LEAD(sales_amount, 1) OVER (PARTITION BY employee_id ORDER BY sales_date) AS next_day_sales
FROM
    Sales;

In [ ]:
# Write your MySQL query statement below
with cte as (
    select 
    num,
    lead(num,1) over() num1,
    lead(num,2) over() num2
    from logs
)

select  distinct num as ConsecutiveNums 
from cte 
where (num = num1) and (num = num2)

/*ÊàñËÄÖ‰∏ãÈù¢ÁöÑÊñπÂºè*/

select distinct Num as ConsecutiveNums
from Logs
where (Id + 1, Num) in (select * from Logs) and (Id + 2, Num) in (select * from Logs)

ü•µü•µü•µ Â≠¶‰ºöÂà©Áî®UNIONÂêàÂπ∂Êü•ËØ¢Ôºå ‰ª•Âèänot in Êü•ËØ¢

[link](https://leetcode.com/problems/primary-department-for-each-employee/description/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
# Write your MySQL query statement below
select distinct product_id, 10 as price 
from Products 
where product_id not in(
    select product_id 
    from Products 
    where change_date <='2019-08-16' 
    )


union 

SELECT product_id, new_price as price 
from products 

where (product_id, change_date) IN (
    select product_id, max(change_date)
    from products 
    where change_date <='2019-08-16'
    group by product_id 
    )

ü•µü•µü•µ Â≠¶‰ºöÊåâÈ°∫Â∫èÁ¥ØËÆ°ÂíåËøêÁÆó

[link](https://leetcode.com/problems/last-person-to-fit-in-the-bus/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
# Write your MySQL query statement below
SELECT q1.person_name
FROM Queue q1 JOIN Queue q2 ON q1.turn >= q2.turn
GROUP BY q1.turn
HAVING SUM(q2.weight) <= 1000
ORDER BY SUM(q2.weight) DESC
LIMIT 1

ü•µü•µü•µ ÂØπ‰∫éÊúâÂàóË°®‰∏≠Ê≤°ÊúâÁöÑÂÄºÊó∂ÂÄô‰ΩøÁî®UNION ÂèØÂ∞ÜÊ≤°ÊúâÁöÑËΩ¨Êç¢Êàê0

[link](https://leetcode.com/problems/count-salary-categories/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
SELECT  "Low Salary" AS category, COUNT("Low Salary") AS accounts_count
FROM Accounts
WHERE income < 20000

UNION

SELECT  "Average Salary" AS category, COUNT("Average Salary") AS accounts_count
FROM Accounts
WHERE income >= 20000 AND income <= 50000

UNION

SELECT  "High Salary" AS category, COUNT("High Salary") AS accounts_count
FROM Accounts
WHERE income > 50000